{% extends 'layout.html' %}

{% block content %}
    <!-- <iframe style="margin: 50px;" src="https://www.youtube.com/embed/v=v5X6ubC-h_s&ab_channel=ProvidenceIndia" height="300" width="500" title="Iframe Example"></iframe> -->
    <div style="height: 0px; width: 900px; margin: 100px;">
    <h2 style="padding-bottom: 5px; padding-left: 10px;">About Us</h2>
     <br/>
     <p style="border-radius: 5px; background-color: rgba(188, 251, 230, 0.616); padding: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi error neque est aspernatur! Accusamus iste quaerat rerum, commodi quos ducimus, placeat officiis voluptas fuga, in suscipit repellendus? Repellat, eos!
     Soluta totam temporibus optio voluptas cumque, nisi at fugit quaerat veniam cum, assumenda sint. Ratione minus repellat, molestiae enim accusantium ullam quos, cum necessitatibus mollitia unde architecto reprehenderit dicta. Voluptas!
     Alias! At voluptatum beatae nesciunt. Debitis sunt omnis dicta, tenetur dolorum ab odio consequatur quod eos quia.</p>
    </div> 
{% endblock content %}