
{% extends 'layout.html' %}

{% block content %}
<div class="content-container">
    <div class="division">
        <h1 class="typewriter">Welcome To ResumeIQ</h1>
        <h6 style="font-size: 20px; color: darkgreen;">Smarter Resumes, Smarter Careers</h6>
        <div class="buttons">
            <!-- <a href="/submit" style="text-decoration:none;"><button type="button" class="btn btn-outline-success">Add Project</button></a>
            <a href="/read"><button type="button" class="btn btn-outline-success">See Project</button></a> -->
            <a href="/pdff"><button type="button" class="btn btn-outline-success">Chose File</button></a>
        </div>
    </div>
</div>
{% endblock content %}
