{% extends 'layout.html' %}

{% block content %}
    <!-- <iframe style="margin: 50px;" src="https://www.youtube.com/embed/v=v5X6ubC-h_s&ab_channel=ProvidenceIndia" height="300" width="500" title="Iframe Example"></iframe> -->
    <div style="height: 0px; width: 900px; margin: 100px;">
    <h2 style="padding-bottom: 5px; padding-left: 10px;">{{blog.title}}</h2>
     <br/>
     <p style="border-radius: 5px; background-color: rgba(188, 251, 230, 0.616); padding: 10px;">{{blog.description}}</p>
    </div> 
{% endblock content %}